*{
    margin: 0;
    padding: 0.5mm;

}

.abigtitle {
    color: chartreuse;
    text-align: center;

}

.asubtitle {
color: chartreuse;
}

.pie {
color: white;
}

footer{
    background-color: rgb(138,180,58);
    background: linear-gradient(180deg, rgba(138,180,58,1) 0%, rgba(173,253,29,1) 50%, rgba(122,252,69,1) 100%);;
}

form{
    color: rgb(0, 0, 0);
    
}

header{
    color: white;
    background-color: rgb(138,180,58);
    background: linear-gradient(90deg, rgba(138,180,58,1) 0%, rgba(173,253,29,1) 50%, rgba(122,252,69,1) 100%);;
    font-family: Messina;
    src: url(Messina.ttf);
    border: 5px solid green 
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: cornsilk;
}



h4{
    color: chartreuse;
    text-decoration: underline;
    text-align: center;
}

p{
    text-align: center;
}

video{
    padding: 5px;
    margin-left: 32%;
}

.galeriaimg{
    border: 10px solid green 
    
}

nav{
    border: 2px solid green 
}

ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    list-style-image: none;
}

#maps{
    display: flex;
    flex-direction: row-reverse;

}



.imgGaleria{
    width: 100%;
    height: 100%;
}

li {

    list-style: none;

}

.gridUno{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.imgGaleriaUno{
    grid-area: 1/2;
    width: 100%;
    height: 100%;
}

.gridDos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.imgGaleriaTres{
    grid-area: 1/3;
    width: 100%;
    height: 100%;
}
.itemG1{
    grid-area: 1/2;
    text-align: center;
    font-size: 40px ;
    
}
.itemG2{
    grid-area: 1/1;
    text-align: center;
    font-size: 40px ;
    
}

.imgGaleria:hover{
    transform: scale(1.5, 1.5);
}

.imgGaleriaTres:hover{
    transform: scale(1.5, 1.5);
}

.form1{
    width: 100%;
    background-color: cornsilk;
}